@font-face {
  font-family: "digi";
  src: url("../../assets/fonts/DS-DIGI.TTF");
}

.counter {
    font-family: digi;
    color:#F11A3E;
    
    
    &:after{ 
        content:'----';
        animation: counterFlicker 10s infinite;}
}

@keyframes counterFlicker {
    20% { content:'1617'};
    21% { content: '\003A \003A \003A \003A '; };
    22% { content:'1617'};
    30% { content:'DEA1'};
    31% { content:'1618' }
    50% { content: '\003A \003A \003A \003A '; };
    51% { content: '1618'; };
    52% { content: '\003A \003A \003A \003A '; };
    54% { content:'9999'};
    55% { content:'1619'};
}


.nugget__container {
    width: 100%;
    height: 50%;
}

.nugget {
       width: 5rem;
       height: 5rem;
       position: absolute;
       animation: nugget 3s ease-in-out -2s infinite;
     }
    .nugget:nth-child(1) {
        left: 10%; animation-delay: 0;
     }
     .nugget:nth-child(2) {
        left: 20%; animation-delay: -5s;
     }

     .nugget:nth-child(3) {
        left: 40%; animation-delay: -4s;
     }

     .nugget:nth-child(4) {
       left: 60%; animation-delay: -1.5s;
     }

     .nugget:nth-child(5) {
       left: 80%; animation-delay: -3.5s;
     }

    @keyframes nugget {
    from { transform: translate(0,0);}

    to { transform: translate(0vw,70vh);}
    }
        

    // Contact Card
    .contact__card {

      /* Icons */
      
      .contact__prop {
        background: rgb(247, 247, 247);
        border-radius: 1rem;
        text-align:center;
        position: relative;
        display: inline-block;
        width:5rem;
        height:5rem;
        margin:0 2px;
        &:hover {
            background: #cacaca;
            cursor: pointer;
        }
      }

      img:hover {
        opacity: .5;
      }
      
      /* pop-up text */
      .contact__prop span {
        color:#666;
        position:absolute;
        font-family:sans-serif;
        bottom:0;
        left:-25px;
        right:-25px;
        padding:5px 7px;
        z-index:101;
        font-size:14px;
        border-radius:2px;
        background:#fff;
        visibility:hidden;
        opacity:0;
        -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      
    /* pop-up text arrow */    
    .contact__prop span:before {
        content:'';
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        position:absolute;
        bottom:-5px;
        left:40px;
      }
      
      /* text pops up when icon is in hover state */
      p:hover span {
        bottom:50px;
        visibility:visible;
        opacity:1;
      }
    }
      
